<div class="full-page" filter-color="red">
  <div class="logo text-center">
    <a href="/">
    <%= image_tag "logo.png" %>
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li>
        <a href="/dashboard">
          <i class="material-icons">dashboard</i>
          <p>Dashboard</p>
        </a>
      </li>
      <li>
        <a href="profile">
          <i class="material-icons" style="color: black">person_outline</i>
          <p>Account</p>
        </a>
      </li>
      <li>
        <a href="/verifies">
          <i class="material-icons">verified_user</i>
          <p>Verify</p>
        </a>
      </li>
      <li>
        <a href="/dashboard">
          <i class="material-icons">account_balance_wallet</i>
          <p>Buy Token</p>
        </a>
      </li>
      <li>
        <a href="/referrals">
          <i class="material-icons">list</i>
          <p>Referrals</p>
        </a>
      </li>
      <li>
        <a href="/change_password">
          <i class="material-icons">lock</i>
          <p>Change Password</p>
        </a>
      </li>
    </ul>
  </div>
</div>
