.pd-bot-15 {
  padding-bottom: 15px;
}
.stage-info {
  padding-top: 5px;
  padding-left: 10px!important;
}
.price {
  padding-left: 0px;

  [class*="col-"] {
    padding-left: 0px;
  }
}
.disabled {
  background-color: #ccc;
  pointer-events: none;
  cursor: none;
}
.border-bottom-none {
  border-bottom: none !important;
}
.change-image {
  .help-block {
    color: red;
  }
}
