<div class="flex header-bar">
  <h3 class="title">Account</h3>
  <a href="#"><i class="material-icons">help</i></a>
</div>
<hr class="mt15">
<h4 class="mb0">Hello, &nbsp;<span class="fw400"><%= current_user.email %></span></h4>
<div class="home-alert alert alert-default alert-with-icon" data-notify="container">
  <span data-notify="message"><span class="fw400">
    You will need to complete the account verification to participate in our ICO.</span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci doloremque error nobis perspiciatis repellendus? Ab delectus doloremque excepturi id.
  </span>
  <br>
  <p><a class="hyperlink fw400" href="/dashboard/verification">Verify now</a></p>
</div>
<div class="info-box mb20">
  <h5 class="mt0"><b>Security Tips</b></h5>
  <p>Only respond to emails from<span class="fw400">   official@phenomenal.network</span></p>
  <p>Only visit our official website<a class="fw400" href="https://phenomenal.network" target="_blank">   https://phenomenal.network</a></p>
  <p class="mb0"><b>Your information is secured and never shared</b></p>
</div>
<div>
  <%= link_to "Log Out", logout_path, class: "btn btn-info w210 signoutTrigger" %>
</div>
</div>
