<div id="page-content" ng-controller="StagesController as vm" ng-init="vm.init()">
  <div class="header-section">
    <div class="row">
      <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
        <h1><strong>Setting Stage Progess</strong><br><small>You Look Awesome!</small></h1>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="block-title">
      <div class="block-options pull-right">
        <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary active"
          data-toggle="block-toggle-content"><i class="fa fa-arrows-v"></i></a>
        <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-primary"
          data-toggle="block-toggle-fullscreen"><i class="fa fa-desktop"></i></a>
      </div>
      <h2><strong>Stage</strong> Progress</h2>
    </div>
    <div class="block-content" style="display: none;">
      <ul class="nav nav-tabs push" data-toggle="tabs">
        <li class=""><a href="#example-tabs-news">Verify Required</a></li>
        <li class="active"><a href="#example-tabs-profile">Non Verify Required</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane" id="example-tabs-news">Verify Required</div>
        <div class="tab-pane active" id="example-tabs-profile">
          <div class="form-horizontal form-bordered"
            style="padding-left: 15px; padding-right: 15px;">
            <div class="form-group">
              <h4><strong>Thiết lập giao diện trang người dùng</strong></h4>
              <div ng-repeat="stage_type in vm.stage_types track by $index"
                 class="radio pd-bot-15">
                <label for="radio-{{$index}}">
                  <input type="radio" id="radio-{{$index}}" value="{{stage_type.id}}">
                  {{$index + 1}}. {{stage_type.name}}
                </label>
                <ul class="fa-ul list-li-push stage-info">
                  <li><i class="fa fa-li fa-check text-success">
                  </i>{{stage_type.re_name}}</li>
                </ul>
              </div>
              <div class="stage-setting" style="padding-left: 25px; padding-right: 25px">
                  <div class="">
                    <h4><strong>Thiết lập mốc thời gian cho các giai đoạn</strong></h4>
                    <div class="form-group">
                      <div class="col-md-9">
                        <label class="control-label">PreSale</label>
                        <div class="col-md-12">
                          <div class="input-group input-daterange" data-date-format="mm/dd/yyyy HH:mm">
                            <input type="text" id="example-daterange1" name="example-daterange1"
                              class="form-control text-center" placeholder="From">
                            <span class="input-group-addon"><i class="fa fa-angle-right"></i></span>
                            <input type="text" id="example-daterange2" name="example-daterange2"
                              class="form-control text-center" placeholder="To">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label class="control-label">PreSale Price</label>
                        <div class="col-md-12 price">
                          <label class="col-md-4 control-label" for="example-hf-email">1 ETH = </label>
                          <div class="col-md-6">
                            <input type="email" id="example-hf-email" name="example-hf-email" class="form-control">
                          </div>
                          <label class="col-md-2 control-label">NEET</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-9">
                        <label class="control-label">CrowSale</label>
                        <div class="col-md-12">
                          <div class="input-group input-daterange" data-date-format="mm/dd/yyyy HH:mm">
                            <input type="text" id="example-daterange3" name="example-daterange1" class="form-control text-center" placeholder="From">
                            <span class="input-group-addon"><i class="fa fa-angle-right"></i></span>
                            <input type="text" id="example-daterange4" name="example-daterange2" class="form-control text-center" placeholder="To">
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <label class="control-label">CrowSale Price</label>
                        <div class="col-md-12 price">
                          <label class="col-md-4 control-label" for="example-hf-email1">1 ETH = </label>
                          <div class="col-md-6">
                            <input type="text" id="example-hf-email1" name="example-hf-email1" class="form-control">
                          </div>
                          <label class="col-md-2 control-label">NEET</label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-3">
                        <label class="control-label">Tiến độ</label>
                        <div class="col-md-12">
                          <input type="text" id="progress-percent" name="example-hf-email" class="form-control">
                        </div>
                      </div>
                      <div class="col-md-9"></div>
                      <div class="col-md-12" style="padding-left: 30px;">
                        <div class="progress progress-striped active">
                          <div class="progress-bar progress-bar-danger" id="stage-progress" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">20%</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p class="text-muted">Thiết lập cho các giai đoạn bán token</p>
  </div>
</div>
