<div class="banner-content pt-5">
  <h1 class="best-template animated" data-animation="fadeInUpShorter" data-animation-delay="1.5s">NEET Coin<br class="d-none d-xl-block">was sold out! <br class="d-none d-xl-block"></h1>
  <h3 class="d-block white animated" data-animation="fadeInUpShorter" data-animation-delay="1.6s">If you want to be partner of us,<br class="d-none d-xl-block">please contact us!
  </h3>
</div>

