<div class="banner-content pt-5">
  <h1 class="best-template animated" data-animation="fadeInUpShorter" data-animation-delay="1.5s">Crypto ICO is modern, clean and <br class="d-none d-xl-block">gradient ui ico most trending <br class="d-none d-xl-block">template of 2018</h1>
  <h3 class="d-block white animated" data-animation="fadeInUpShorter" data-animation-delay="1.6s">First decentralized marketing platform that allows <br class="d-none d-xl-block">merchants and affiliates.
  </h3>
  <form>
    <div class="input-group animated subscrible-email" data-animation="fadeInUpShorter" data-animation-delay="1.7s">
      <input id="email-subscrible" type="email" class="form-control" name="email"
        placeholder="Type your email for subscrible">
    </div>
    <div class="mt-1" align="center">
      <a href="javascript:void(0)" class="btn btn-lg btn-gradient-purple btn-glow mr-4 mb-2 animated" data-animation="fadeInUpShorter" data-animation-delay="1.7s" id="js-subscribe-email">Subscrible</a>
    </div>
    <%= hidden_field_tag :authenticity_token, value: form_authenticity_token %>
  </form>
</div>
