<div class="row">
  <div class="col-md-3 border-1p-sol-right">
    <div class="abc">
      <p class="text-center font-25">Your blance</p>
      <p class="text-center yellow">50 CNC</p>
      <div class="row">
        <span class="col-sm-6"><p class="text-center font-14">$0.21CNC</p></span>
        <span class="col-sm-6"><p class="text-center font-14">$419.08 ETH</p></span>
      </div>
      <div class="row" style="justify-content: center;">
        <a href="#" class="btn btn-primary" style="width: 80%">Buy CNC</a>
      </div>
    </div>

    <hr>
    <div class="row btn-group-vertical">
      <a href="" class="btn">Home</a>
      <a href="" class="btn">Home</a>
      <a href="" class="btn">Home</a>
      <a href="" class="btn">Home</a>
      <a href="" class="btn">Home</a>
    </div>
  </div>
  <div class="col-md-9">
  </div>
</div>
