<div class="flex header-bar">
  <h3 class="title">Dashboard</h3>
  <a href="#"><i class="material-icons">help</i></a>
</div>
<hr class="mt15">
<div class="card mt15">
  <div class="card-content">
    <div class="row">
      <div class="col-md-4 coint-balance">
        <h5 class="fw400 mt0">Your NEET balance</h5>
        5000 NEET
      </div>
    </div>
  </div>
</div>
