<div id="page-content" ng-controller="StagesController as vm" ng-init="vm.init()">
  <div class="header-section">
    <div class="row">
      <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
        <h1><strong>Change Image in Landing page</strong><br><small>You Look Awesome!</small></h1>
      </div>
    </div>
  </div>
  <div class="block">
    <div class="block-title">
      <h2><strong>Custome Image</strong></h2>
    </div>
    <form action="page_forms_general.html" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered change-image" onsubmit="return false;">
      <div class="form-group">
        <label class="col-md-3 control-label" for="example-file-input">About Image</label>
        <div class="col-md-9">
          <input type="file" id="example-file-input" name="example-file-input">
          <span class="help-block">* Please choise image with 510x411 pixels</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="example-file-input">Solution Image Top</label>
        <div class="col-md-9">
          <input type="file" id="example-file-input" name="example-file-input">
          <span class="help-block">* Please choise image with 384x372 pixels</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="example-file-input">Solution Image Bot</label>
        <div class="col-md-9">
          <input type="file" id="example-file-input" name="example-file-input">
          <span class="help-block">* Please choise image with 384x401 pixels</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="example-file-input">Document Image</label>
        <div class="col-md-9">
          <input type="file" id="example-file-input" name="example-file-input">
          <span class="help-block">* Please choise image with 370x483 pixels</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="example-file-input">App Image</label>
        <div class="col-md-9">
          <input type="file" id="example-file-input" name="example-file-input">
          <span class="help-block">* Please choise image with 540x482 pixels</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="example-file-input">About Coin Image</label>
        <div class="col-md-9">
          <input type="file" id="example-file-input" name="example-file-input">
          <span class="help-block">* Please choise image with 284x372 pixels</span>
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-3 control-label" for="example-file-input">Token Stats Image</label>
        <div class="col-md-9">
          <input type="file" id="example-file-input" name="example-file-input">
          <span class="help-block">* Please choise image with 490x484 pixels</span>
        </div>
      </div>
      <div class="form-group form-actions">
          <div class="col-md-9 col-md-offset-3">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
          </div>
      </div>
    </form>
</div>
</div>
