.border-1p-dot {
  border: 1px dotted black;
}
.none-boder-right {
  border-right: none;
}
.border-1p-sol-right {
  border-right: 1px solid #ccc;
}
.font-25 {
  font-size: 25px;
}
.font-14 {
  font-size: 14px;
}
.yellow {
  color: red;
}
